<h1>Bookmarks#new</h1>
<p>Find me in app/views/bookmarks/new.html.erb</p>


<!-- app/views/reviews/new.html.erb -->
<h1>Add a movie to <%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit "Add bookmark", class: "btn btn-primary" %>
<% end %>
